# PyCharm / JetBrains
.idea/

# OS
.DS_Store
Thumbs.db

# Node (if you ever add dependencies/tooling)
node_modules/
npm-debug.log*
package-lock.json

# Editor swap/backup files
*.swp
*~

# Logs
*.log

.venv